:root {
  --var-color: #000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

canvas {
  margin: 0 auto;
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  cursor: crosshair;
  border: inset 1px rgba(0, 0, 0, 0.5);
}

.controls {
  margin: 5px auto;
  display: block;
  width: 600px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.button {
  width: 85px;
  border: 0;
  padding: 5px 0;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  border: inset 2px rgba(0, 0, 0, 0);
  cursor: pointer;
}

.button.selected {
  font-weight: bold;
  border: inset 2px rgba(0, 0, 0, 0.25);
}

.button[id="stone"] {
  background-color: rgb(153, 149, 141);
  color: rgb(230, 221, 204);
}

.button[id="sand"] {
  background-color: rgb(245, 220, 147);
  color: rgb(131, 114, 65);
}

.button[id="water"] {
  background-color: rgb(86, 159, 227);
  color: rgb(232, 244, 255);
}

.button[id="smoke"] {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1);
}

.button[id="wood"] {
  background-color: rgb(133, 101, 77);
  color: rgb(241, 232, 225);
}

.button[id="ember"] {
  background-color: rgb(240, 90, 60);
  color: rgb(255, 207, 197);
}

.button[id="lava"] {
  background-color: rgb(138, 18, 18);
  color: rgb(233, 144, 144);
}

.button[id="gunpowder"] {
  background-color: rgb(117, 117, 117);
  color: rgb(218, 218, 218);
}

.button[id="steam"] {
  background-color: rgb(97, 196, 255);
  color: rgb(46, 73, 88);
}

.button[id="acid"] {
  background-color: rgb(139, 196, 79);
  color: rgb(232, 255, 208);
}

.button[id="vine"] {
  background-color: rgb(172, 219, 151);
  color: rgb(37, 64, 42);
}

.button[id="seed"] {
  background-color: rgb(172, 219, 151);
  color: rgb(37, 64, 42);
}

.debug {
  font-family: monospace;
  margin: 5px auto;
  display: block;
  width: 600px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.debug-block {
  width: 50%;
  margin: 0;
  padding: 0;
}
