:root {
  --var-color: #000;
}

canvas {
image-rendering: -moz-crisp-edges;
image-rendering: -webkit-crisp-edges;
image-rendering: pixelated;
image-rendering: crisp-edges;
}

button[name="stone"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgb(153, 149, 141);
  color: rgb(230, 221, 204);
}

button[name="sand"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgb(245, 220, 147);
  color: rgb(131, 114, 65);
}

button[name="water"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgb(86, 159, 227);
  color: rgb(232, 244, 255);
}

button[name="smoke"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1);
}

button[name="wood"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgb(133, 101, 77);
  color: rgb(241, 232, 225);
}

button[name="ember"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgb(240, 90, 60);
  color: rgb(255, 207, 197);
}

button[name="lava"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgb(138, 18, 18);
  color: rgb(233, 144, 144);
}

button[name="gunpowder"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgb(117, 117, 117);
  color: rgb(218, 218, 218);
}

button[name="steam"] {
  border: 0;
  padding: 3px 6px;
  background-color: rgb(97, 196, 255);
  color: rgb(46, 73, 88);
}
